In [17]:
import pandas as pd
import numpy as np

In [18]:
# read csv 
df = pd.read_csv(r'C:\Users\WeilunShi\Dropbox (IFPRI)\CML-Ethiopia - team folder\Operation\combined_rain_df.csv')

In [19]:
# filter out df with c1 has value
df = df[df['c1'].notnull()]

# add an indicator if c1_a or c1_b is not null
df['c1_a_ind'] = np.where(df['c1_a'].notnull(), 1, 0)
df['c1_b_ind'] = np.where(df['c1_b'].notnull(), 1, 0)
df['has_value'] = np.where((df['c1_a_ind'] == 1) | (df['c1_b_ind'] == 1), 1, 0)

# group by date and respondent_id, count the number of observations
newdf=df.groupby(['date', 'respondent_id'])['has_value'].sum().reset_index(name='day_rain_count')

# merge the newdf with the original df
df = pd.merge(df, newdf, on=['date', 'respondent_id'], how='left')

In [20]:
# filter out day_rain_count != c1
df_inconsistent = df[df['day_rain_count'] != df['c1']]

In [22]:
# drop c1_a_ind, c1_b_ind, has_value
df_inconsistent = df_inconsistent.drop(['c1_a_ind', 'c1_b_ind', 'has_value'], axis=1)

In [24]:
# rename column index as row_id
df_inconsistent = df_inconsistent.rename(columns={'index': 'row_id'})

In [25]:
df_inconsistent

,row_id,date,respondent_id,c1,c1_a,c1_b,treatment,latitude,longitude,day_rain_count
0,0,2022-09-09,251900003692,1.0,10:00:00,11:00:00,1,11.00,37.75,4
2,3,2022-09-11,251900003692,1.0,11:00:00,12:00:00,1,11.00,37.75,2
3,4,2022-09-09,251900003692,1.0,06:00:00,07:00:00,1,11.00,37.75,4
7,9,2022-09-10,251900003692,1.0,NaN,NaN,1,11.00,37.75,0
8,10,2022-09-16,251900003692,1.0,NaN,NaN,1,11.00,37.75,0
...,...,...,...,...,...,...,...,...,...,...
7417,6514,2022-09-15,251996812472,1.0,11:00:00,12:00:00,0,11.00,37.50,2
7418,6515,2022-09-11,251996812472,1.0,NaN,NaN,0,11.00,37.50,0
7419,6516,2022-09-14,251996870449,1.0,12:00:00,02:00:00,0,11.25,38.00,2
7420,6519,2022-09-16,251996870449,1.0,08:00:00,09:00:00,0,11.25,38.00,2
7425,6525,2022-09-13,251996870449,1.0,06:00:00,07:00:00,0,11.25,38.00,2

In [12]:
# output to csv
df_inconsistent.to_csv(r'C:\Users\WeilunShi\Dropbox (IFPRI)\CML-Ethiopia - team folder\Operation\inconsistent_obs.csv', index=False)